################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shop/Properties/PublishProfiles
/Shop/obj
/Shop/bin
/Shop/appsettings.json
