@page "/"
@using Shop.Data.ProductTypes
@using Shop.Services
@using Shop.Pages.Component
@inherits OwningComponentBase<ProductService>

<BrowseCategoriesComponent></BrowseCategoriesComponent>

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-2" style="float:right">
            <h3>stuff</h3>
        </div>
        <div class="col-8">
            @foreach (var product in products)
            {
                <Shop.Pages.Component.CompactProductDisplayComponent Product="product"></Shop.Pages.Component.CompactProductDisplayComponent>
            }
        </div>
        <div class="col-2" style="float:right">
            <h3>other stuff</h3>
        </div>
    </div>
</div>

@code{
    private List<ProductDTO> products { get; set; }

    protected override void OnInitialized()
    {
        products = Service.GetIndexProductDTOs();
    }
}
