@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization

<BlazoredToasts />

<AuthorizeView Roles="admin, moderator">
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
    <NotAuthorized></NotAuthorized>
</AuthorizeView>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
