@inherits LayoutComponentBase

<div style="z-index:2">
    <BlazoredToasts />
</div>


<AuthorizeView Roles="admin, moderator">
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
    <NotAuthorized></NotAuthorized>
</AuthorizeView>

<div class="main">
    <LoginDisplay />

    <div class="content px-4">
        @Body
    </div>
</div>
