<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Shop</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="admin, moderator">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="ProductList">
                        <span class="oi oi-align-center" aria-hidden="true"></span> Products
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="ManageOrderListPage" Match="NavLinkMatch.All">
                        <span class="oi oi-transfer" aria-hidden="true"></span> Orders
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized></NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="category">
                        <span class="oi oi-plus" aria-hidden="true"></span> Categories
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="CustomField">
                        <span class="oi oi-aperture" aria-hidden="true"></span> Custom Fields
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="UserManagement">
                        <span class="oi oi-heart" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="SettingPage">
                        <span class="oi oi-cog" aria-hidden="true"></span> Settings
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized></NotAuthorized>
        </AuthorizeView>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
