@page "/Browse/Category/{CategoryId}"
@using Shop.Data
@using Shop.Data.ProductTypes
@using Shop.Services
@using Shop.Pages.Component
@inject CategoryService categoryService
@inherits OwningComponentBase<ProductService>

<BrowseCategoriesComponent></BrowseCategoriesComponent>

<div style="margin-top:50px">
    @if (products.Count == 0)
    {
        <h4>Sorry, no products of this category found :(</h4>
    }
    else
    {
        <div class="container" style="margin-top:50px">
            <div class="row">
                <div class="col-2" style="float:right">
                    <h3>filters</h3>
                </div>
                <div class="col-8">
                    @foreach (var product in products)
                    {
                    <Shop.Pages.Component.CompactProductDisplayComponent Product="product"></Shop.Pages.Component.CompactProductDisplayComponent>
                    }
                </div>
                <div class="col-2" style="float:right">
                    <h3>ads</h3>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string CategoryId { get; set; }

    Category category;
    List<ProductDTO> products;

    protected override void OnInitialized()
    {
        if (int.TryParse(CategoryId, out int categoryId))
        {
            category = categoryService.GetCategory(categoryId);
            if (category != null)
            {
                products = Service.GetCategoryProductDTOsWithInheritanceDown(category);
            }
        }
    }

    protected override void OnParametersSet()
    {
        OnInitialized();
    }
}
